<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Курсы</title>
</head>
<body>
<a href="/users">Ко всем пользователям</a>
<a href="/lessons">Ко всем урокам</a>
<table>
    <tr>
        <th class="first">ID</th>
        <th class="first">Название</th>
        <th class="first">Действия</th>
    </tr>
    <#list courses as course>
        <tr>
            <th class="first">${course.id}</th>
            <th>${course.title}</th>
            <th>
                <a href="/courses/${course.id}"> Перейти </a>
                <a href="/courses/${course.id}/delete"> Удалить </a>
            </th>
        </tr>
    </#list>
</table>
<form action="/courses" method="post">
    <label>
        Название
        <input type="text" name="title" placeholder="Введите название">
    </label>
    <input autofocus type="submit" value="Готово">
</form>
</body>
</html>