table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

.first {
    background: #AFCDE7;
    color: darkblue;
    padding: 10px 20px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #E0FFFF;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

h1 {
    color: darkblue;
}

h2 {
    color: skyblue;
}

.text {
    color: blue;
}

.bigText {
    color: darkblue;
}

body {
    background: #E0FFFF;
}

input {
    background: #D8E6F3;
}